body{
    font-family: Arial, Verdana, sans-serif;
    background-color:  rgb(200,200,200);
    width: 75%;
    margin: 10px auto 10px auto;
}
h1{
    color: white;
    background-color: darkcyan;
    padding: 10px;
    text-align: center;
}
h2{
    color: deeppink;
    background-color: white;
}
p{
    color: #665544;
}
a:link{
    color: deeppink;
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: deeppink;
    text-decoration: underline;
    border-radius: 10px;

}
a:visited{
    color: black;
}
a:active{
    color: darkcyan;
}
li.nav{
    display: inline;
    padding: 10px;
}
nav{
    background-color: white;
    color: #665544;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
section{
    padding: 0px 10px 10px 10px;
    border: solid 5px deeppink;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    color: #665544;
}
footer{
    text-align: end;
}
nav ul{
    padding: 0px;
}
nav a{
    color: deeppink;
    background-color: white;
    border:solid 2px deeppink;
    border-radius: 10px;
    padding: 10px;
}
img.afbeelding{
    display: block;
    margin: 0px auto 0px auto;
}
